.weatherapp {
  background: linear-gradient(
    87.4deg,
    rgb(255, 241, 165) 1.9%,
    rgb(200, 125, 76) 49.7%,
    rgb(83, 54, 54) 100.5%
  );
  border: 3px solid rgb(67, 39, 39) 100.2%;
  border-radius: 5px;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
}

div.current-weather {
  font-size: 14px;
}
span.city {
  font-size: 20px;
  margin-right: 140px;
}
span.temperature {
  font-size: 50px;
}
span.icon {
  font-size: 100px;
}
p.emoji {
  font-size: 45px;
}
div.github {
  font-size: 10px;
  text-align: center;
}
div.col-2 {
  text-align: center;
  font-weight: bolder;
  padding: 10px 20px 0px 20px;
}
div.time {
  font-size: 20px;
}
input.button {
  background-color: #634039;
  color: #fff;
  border-radius: 4px;
}
input.search {
  border-radius: 4px;
}
button {
  background-color: #634039;
  color: #fff;
  border-radius: 4px;
}
